$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$font-family-sans-serif: 'Assistant', sans-serif;
$popover-bg: #67C8EA;
$popover-body-color: white;
$popover-font-size: 1rem;
$spacer: 1rem;
$spacers: (
  6: ($spacer * 5)
)
