@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap');

@import "variables";
@import "3rd-parties";

:root {
  direction: rtl;
}

body {
  text-align: right;
  background-image: url("../assets/bg.svg");
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  font-weight: 300;
}

.nav {
  padding-right: 0;
}

a {
  color: $info;
  text-decoration: underline;
}

p {
  @include font-size(1.25rem);
}

ul {
  @include font-size(1.18rem);
}

.nav-tabs {
  @include font-size(1.5rem);
}

.table-content {
  margin-bottom: 1rem;
  th, td {
    border: 1px black solid;
    padding: 10px;
  }
  
}