@import "variables";
@import "3rd-parties";

:root {
  direction: rtl;
}

body {
  text-align: right;
  background-image: url("../assets/bg.svg");
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.nav {
  padding-right: 0;
}

a {
  color: $info;
  text-decoration: underline;
}

p {
  @include font-size(1.25rem);
}

.nav-tabs {
  @include font-size(1.5rem);
}
